<img ng-src="{{mainImageUrl}}" class="recipe">

<h1>{{recipe.name}}</h1>

<p>{{recipe.description}}</p>

<ul class="recipe-thumbs">
  <li ng-repeat="img in recipe.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<div class="row">
  <div class="span3">
    <p>
    Background:
    </p>
    <p>
    This is a yummy recipe from India.
    </p>
  </div>
  <div class="span3">
    Ingredients:
    <ul>
      <li>Chicken Tenderloin</li>
      <li>Heavy Cream</li>
      <li>Tomato Puree</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span7">
    <div>
      Directions:
    </div>

    <div>
      <ol>
        <li>Beat the chicken until flat.</li>
        <li>Mix tomatoes and cream.</li>
        <li>Dance.</li>
      </ol>
    </div>
  </div>
</div>

<button class="btn btn-primary">
  Add to Cart
</button>
